[CV_OP_EXAMPLES]
img_path = ./data/prepared/rbf_cleaned_merged/images

[CV_PROCESS_DEMO]
img_path = .\data\example.png
#img_path = .\data\raw\CLP_roboflow\train\images\91-1200px-License_plate_of_Cuba_2002_tourism_T_36016_jpg.rf.e1afdabca54c574149f852edfa96da4d.jpg

[DATA_MODIFIER]
load_set_path = ./data/test/test_1
copy_set_path = ./data/prepared/test_ds

[SPLIT_DATASET]
load_set_path = ./data/prepared/rbf_cleaned_merged
split_set_dir_path = ./data/split